:markdown

  The [Gitaly Team](/handbook/gitaly) Lead is responsible for leading the Gitaly
  product, an effort to speed up git access in GitLab by moving git operations
  closer to the data and migrating away from NFS.

  The Gitaly Lead reports to the Director of Infrastructure.
