---
layout: default
title: GitLab Evangelist Program
suppress_header: true
extra_css:
  - evangelists.css
extra_js:
  - features.js
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    = image_tag "/images/evangelists/gitlab-logo.svg", class: "hero-image-small", alt: "GitLab logo icon svg"
    %h1 GitLab Evangelist Program
    %p Everyone can contribute.

.gitlab-content-container
  .grid-layout.grid-layout2
    .evangelist-info-container.grid-item
      %h3
        = "Host an event"
      .flex-container
        = image_tag "/images/evangelists/gitlab-logo.svg", class: "evangelist-logo", alt: "GitLab logo svg"
        %p Bring the community together.
      %p
        = "Do you host a DevOps, Cloud, Kubernetes, or other tech meetup in your hometown? We want to help you grow your community. GitLab provides a variety of support to community organizers from sponsoring events to providing speakers to sending swag."
      = link_to "/community/meetups" do
        Learn how GitLab supports tech community groups
        %i.fas.fa-arrow-right
      %a{ href: "https://www.meetup.com/pro/gitlab" }
        Find a GitLab Meetup near you
        %i.fas.fa-arrow-right

    .evangelist-info-container.grid-item
      %h3
        = "Become a GitLab Hero"
      .flex-container
        = image_tag "/images/evangelists/gitlab-logo.svg", class: "evangelist-logo", alt: "GitLab logo svg"
        %p Join the GitLab Heroes program.
      %p
        = "Are you a regular contributor to GitLab? Have you written blogs, delivered tech talks, or organized meetups about GitLab? Apply to join the GitLab Heroes to receive support and connect with other top contributors in the GitLab community."
      = link_to "/community/heroes/" do
        Become a GitLab Hero
        %i.fas.fa-arrow-right

    .evangelist-info-container.grid-item
      %h3
        = "Find a speaker"
      .flex-container
        = image_tag "/images/evangelists/gitlab-logo.svg", class: "evangelist-logo", alt: "GitLab logo svg"
        %p Invite a GitLab speaker to your event.
      %p
        = "Are you planning a tech event? We can help you find a great speaker. We have a global network of GitLab team-members and community members who want to share their experience and expertise with tech meetups and conferences."
      = link_to "/events/find-a-speaker/" do
        Find a GitLab speaker
        %i.fas.fa-arrow-right

    .evangelist-info-container.grid-item
      %h3
        = "Get in touch"
      .flex-container
        = image_tag "/images/evangelists/gitlab-logo.svg", class: "evangelist-logo", alt: "GitLab logo svg"
        %p We want to hear from you.
      %p
        = "If you have any questions about the evangelist program or suggestions on how we can make things better, please let us know. Our community team is here to help."
      %a{ href: "mailto:evangelists@gitlab.com" }
        Send us an email
        %i.fas.fa-arrow-right
